rewrite '^/92xsw/index\.html' /92xsw/index.php last;
rewrite '^/92xsw/top\/(\w+)\/(\d+)\.html' /92xsw/top.php?url=/top$1/$2.html last;
rewrite '^/92xsw/cat\/wanben\/(\d+).html' /92xsw/category.php?url=/wanben/$1 last;
rewrite '^/92xsw/cat\/(.*)' /92xsw/category.php?url=/$1 last;
rewrite '^/92xsw/book\/(\d+).html' /92xsw/book.php?url=/book/$1 last;
rewrite '^/92xsw/show\/(\d+)\/([\d_]+)\.html' /92xsw/show.php?url=/book/$1/$2.html last;
rewrite '^/92xsw/search\/(.*).html' /92xsw/search.php?keyword=$1&url=%2Fmodules%2Farticle%2Fsearch.php%3Fsearchkey%3D$1 last;